[2018-12-19 19:22] jakesays-old opened #1 "Build failed while trying to build libcxxabi"
here's the output:

    "/home/jake/pax/flutter_embedded/sdk/toolchain/bin/clang++"

  is not able to compile a simple test program.

  It fails with the following output:

    Change Dir: /home/jake/pax/flutter_embedded/build/libcxxabi-prefix/src/libcxxabi-build/CMakeFiles/CMakeTmp

    Run Build Command:"/usr/bin/make" "cmTC_f318f/fast"
    /usr/bin/make -f CMakeFiles/cmTC_f318f.dir/build.make C

[2018-12-22 01:55] jwinarske commented on #1
If you pull master now, it will work with a libcxxabi, and libcxx workaround applied.

Once I hear back from the libcxx-dev mailing list, I'll either generate a PR for libcxxabi/libcxx; or implement a patch.

If you pull master, and get blocked, I can provide the workaround.

[2018-12-23 02:12] jwinarske commented on #1
Actually, I think I found your issue.  I just built on a new machine without the sysroot present, and I get the same results as you.  The fix was a matter of setting up the sysroot folder.

### Raspberry Pi sysroot example
Download [Raspbian Lite image](https://downloads.raspberrypi.org/raspbian_lite_latest) from [Raspbian Image Download Page](https://www.raspberrypi.org/downloads/raspbian/).  Ext

[2018-12-28 00:45] jakesays-old commented on #1
As a test I built with a sysroot and default settings and it worked. What I really need, though is arm-linux-gnueabi. I'm targeting a very old device (linux 3.0) with 64MB (yes that's an M. lol). Should be fun.

I'll try it again with the the proper target values set for armel.

[2019-01-03 21:19] jwinarske commented on #1
Sounds like fun :)

[2019-01-03 21:19] #1 closed, assigned to nobody

[2019-01-07 02:52] pauldemarco opened #2 "llvm-config failed with status No such file or directory"
When running this command:
`cmake .. -DCMAKE_BUILD_TYPE=Release -GNinja`

I get this:
[code]

It doesn't look like a **sdk** directory is created yet... is this something I provide?

[2019-01-08 05:21] pauldemarco commented on #2
The location of llvm-config can be specified with: `-DLLVM_CONFIG_PATH=path/to/llvm-config`

[2019-01-08 05:21] #2 closed, assigned to nobody

[2019-01-10 01:22] jwinarske commented on #2
Until I add the patch files for LLVM, this won't build out of the box.  The issue is with LLVM projects and CMAKE_TOOLCHAIN_FILE, which are claimed to be supported; there's an issue.  So until solution is implemented for LLVM trunk, you will need a patch.  I should have that checked in, in a couple of days.

[2019-01-14 22:43] jakesays-old commented on #2
@jwinarske I just ran in to this error. I'm not sure how this is an LLVM issue because it happens before the llvm source is downloaded.

You're including llvm_config (line 41 of build_dependencies.cmake) too early i think. Looks like it's related to android support.

[2019-01-14 23:06] jwinarske commented on #2
@jakesays llvm_config is used only after the dependency of clang is met.  It's okay to define the path variable before it's used.

The stack wasn't building error free until recently.  Be sure to issue a git pull, and start with a fresh build folder.  Start up another issue if you hit any issues, and be sure to let me know your environment.

[2019-01-14 23:08] jakesays-old commented on #2
@jwinarske that's not true - you include(llvm_config.cmake) way before the clang dep has been met. That's why it's failing.

Added issue: #3

[2019-01-14 23:18] jakesays-old opened #3 "LLVM_CONFIG_PATH being used before llvm-config exists"
build_dependencies.cmake is using LLVM_CONFIG_PATH before llvm-config is built.

[code]

This causes the build to fail.

I cloned this repo just prior to attempting the build.

[2019-01-14 23:47] jwinarske commented on #3
All the projects that use the variable LLVM_CONFIG_PATH, have a dependency on "clang" and "binutils".  Meaning this variable isn't used by anything until Clang has built.

What are you using for your cmake cmd line?

[2019-01-14 23:54] jakesays-old commented on #3
cmake -DTARGET_TRIPLE=arm-arm1176jzs-linux-gnueabi -GNinja -DCMAKE_BUILD_TYPE=Release -DLLVM_TARGETS_TO_BUILD=ARM -DTARGET_ARCH=armv6kz -DBUILD_TSLIB=OFF -DENGINE_RUNTIME_MODE=debug

The variable is used by llvm_config.cmake  - you `include(llvm_config)`, and llvm_config.cmake immediately tries to execute llvm-config to set up variables.

I understand what you're saying about dependencies, but tha

[2019-01-14 23:58] jwinarske commented on #3
Ah, yes :)  I moved it around.  I'll fix that.

[2019-01-15 00:42] jakesays-old opened #4 "Build failed due to missing header"
The compiler-rt build step failed because it couldn't find `<cstdint>`. Below is the build output.

/home/jake/pax/depot_tools/ninja
[0/1] Re-running CMake...
-- Generator .............. Ninja
-- Build Type ............. Release
-- llvm-config ............ /home/jake/pax/flutter_embedded/sdk/toolchain/bin/llvm-config
-- Flutter ................
-- Configuring done
-- Generating done
-- Build files

[2019-01-15 06:44] jwinarske commented on #3
I just checked in a fix.  It's all around the app toolchain file.

If llvm_config_path is passed in, it will create app toolchain file right then, otherwise if toolchain is built, it will create app toolchain file clang post_build.

[2019-01-15 06:57] jwinarske commented on #4
I'm thinking a missing include path.

In build_dependencies.cmake in the compiler-rt project, change "-DCMAKE_VERBOSE_MAKEFILE=${CMAKE_VERBOSE_MAKEFILE}" to "-DCMAKE_VERBOSE_MAKEFILE=TRUE".  This will enable verbose without rebuilding clang.  Provide this output for compiler-rt.

Provide output for /home/jake/pax/flutter_embedded/sdk/toolchain/bin/llvm-config --cxflags

Additions to include path,

[2019-01-15 15:36] jakesays-old commented on #4
I know where the headers are in my sysroot, but since I'm building libcxx, isn't compiler-rt supposed to be using the libcxx headers?

[2019-01-15 15:46] jwinarske commented on #4
Perhaps this will help.  This is the verbose output of building for Raspberry Pi, for the first file in compiler-rt:

[code]

[2019-01-15 15:50] jakesays-old commented on #4
Ohh libc++ headers are under sdk/toolchain. Makes sense.

Only difference is mine are under `sys/toolchain/include/c++/v1`.

[2019-01-15 15:53] jakesays-old commented on #4
It' sounds like we are working on very similar projects. I'd like to compare notes. Do you have an email address?

[2019-01-15 15:57] jwinarske commented on #4
The toolchain is built with gcc.  The app build uses the flag -stdlib=libc++, which then selects the proper headers, and lib.

[2019-01-15 15:58] jwinarske commented on #4
@jakesays joel.winarske@gmail.com

[2019-01-15 16:09] jakesays-old commented on #4
@jwinarske ah. i thought the support libs were supposed to be built with the just built clang.

[2019-01-15 16:42] jakesays-old commented on #4
It looks like the new toolchain is being used to build the support libs. wouldn't it make sense to use libc++ headers instead of the g++ headers?

[2019-01-15 16:53] jwinarske commented on #4
@jakesays I just pushed.  Try that.

[2019-01-15 17:16] jakesays-old commented on #4
I pulled and built. Here's my error log (for the record I don't like cmake. it's basically configure+make with different syntax. I much prefer gn, where I can tell it exactly which tools to use and their settings, etc).

Two thinks of note:
1) the first two failures are using the wrong linker
2) the last failure i'm pretty sure is due to not linking against the new compiler_rt

Compiling the C com

[2019-01-15 19:12] jwinarske commented on #4
@jakesays Well the last change I made only applies if this is *not* a bootstrap build, as the headers don't exist until the Install step of libcxx.  I'm starting clean build folder tests now, will implement travis-ci soon.  If you have a public sysroot, I can add that as a test case...

[2019-01-15 23:29] #3 closed, assigned to nobody

[2019-01-16 00:06] jakesays-old commented on #4
Sounds good. I've decided to take a brief detour and experiment with bionic instead of libc.

My sysroot is an image of an old raspberry pi 1 soft float raspbian. the pi 1 minus floating point and a gpu is the same model as my target device.

[2019-01-17 18:46] jakesays-old opened #5 "Break up in to separate parts"
Would it be possible to split this in to separate parts?

Suggestions:

- build toolchain
- build flutter engine
- build rpi host
- build pi userland

As it currently stands I cannot build just the toolchain without also building flutter. It would be great to have cmake files for just the toolchain without dependencies on anything else.

[2019-01-17 23:52] jakesays-old opened #7 "Support targeting a specific llvm branch"
To overcome the recent llvm version bump the tools build should be able to target a specific llvm/clang/libs  branch.

[2019-01-17 23:59] jwinarske commented on #5
Yeah.  At some point I'm going to factor LLVM related items out into a separate repo, with added config knobs for a bare metal needs, etc.

I started some re-factoring (see the cleanup branch), then got side tracked with sysroot automation, and toolchain variable caching.

What I have right now in master is ready for Appveyor and Travis-CI work.  I'll be looking at the Travis yaml on Monday.

[2019-01-18 00:11] jwinarske commented on #7
The problem that needs solving here, is setting the compiler-rt CMAKE_INSTALL_PREFIX to the proper Clang version.

I experimented with doing this in the toolchain file, only setting CMAKE_INSTALL_PREFIX is ignored in the toolchain file.  It needs to get passed in.

My conclusion earlier today, is that this should really be handled in the compiler-rt project.  It has the version info available (I t

[2019-01-18 00:18] jakesays-old commented on #7
I just added to my PR support for a specific llvm branch, which should handle the install prefix issue (i think).

If you set `-DUSE_LLVM_BRANCH=release_80` it will check out that branch. it defaults to trunk.

After thinking about this more it doesn't solve the issue you're trying to solve. I want to be able to pin the toolchain to a specific version instead of dealing with the unstable trunk. I

[2019-01-18 00:29] jakesays-old commented on #7
Also, after clang is built you can parse the version from clang --version if you need it for compiler-rt.

EDIT: hmm. disregard. it's available from llvm-config.

[2019-01-18 18:29] selste opened #8 "Build failed due to missing freetype2 package"
Hi,
tried bootstrapping for the Raspberry Pi today and ran into the following error:

`[77/88] Performing configure step for 'engine'
FAILED: engine-prefix/src/engine-stamp/engine-configure
cd /home/steffen/flutter_embedded/build/engine-prefix/src/engine && src/flutter/tools/gn --runtime-mode release --dynamic --clang --no-goma --lto --embedder-for-target --target-sysroot /home/steffen/flutter_emb

[2019-01-20 03:03] jwinarske commented on #8
@selste Hi Steffen. Are you able to build the engine repo standalone without this error?

https://github.com/flutter/flutter/wiki/Setting-up-the-Engine-development-environment
https://github.com/flutter/flutter/wiki/Compiling-the-engine

[2019-01-20 13:32] selste commented on #8
Ah,
thanks for the reminder - was missing a couple of dependencies. I'm using Ubuntu 18.04 which is currently not in the list of supported distros in the install-build-deps.sh script.

[2019-01-20 13:32] #8 closed, assigned to nobody

[2019-01-29 10:58] jwinarske commented on #5
https://github.com/jwinarske/clang_toolchain

[2019-03-22 20:33] ghost opened #9 "Raspberry pi"
This is great.

The plugins work has already been done and works on desktops. It calls out to golang but c/c++ should be possible.
https://github.com/go-flutter-desktop/go-flutter
It's all been developed for golang.
Golang runs on all the embedded devices you are using also btw !

I really want to try out raspberry pi. How was the performance with larger apps ?

[2019-03-23 19:46] jwinarske commented on #9
Yeah I'm aware of the desktop project.  My goal is limited RAM devices.

Performance isn't bad.  I think it would work well for quite a few projects.

Key area for performance will be compiling Dart to native.  This isn't supported in the Flutter toolchain yet..  With this, performance could be close to QT.  Without the license fees.

[2019-03-25 11:44] ghost commented on #9
I also used to do QT, and i totally get you about the licensing.
In case you are  curious, you can compile golang to embedded using tinygo.
https://github.com/tinygo-org/tinygo

Its NOT fully supporting al of golang yet ! But most stuff is.
https://tinygo.org/lang-support/#standard-library

The list of supported boards is pretty good. Of course raspberryPi does not need this as golang natively sup

[2019-03-27 01:56] jwinarske commented on #9
Yeah I've played around with Go a bit.  When I have some time (~3 weeks), I'll take a look at the Flutter desktop implementation, and see what the gaps are for SQLite, Bluetooth, GPS, Network adapter status, etc.

[2019-03-27 13:14] jwinarske commented on #4
Not planning to support unique cases for now.  I will consider full support for cases where there is something publicly available.  I am available for consult work.

[2019-03-27 13:14] #4 closed, assigned to nobody

[2019-03-27 13:14] #5 closed, assigned to nobody

[2019-03-27 13:15] #7 closed, assigned to nobody

[2019-03-27 13:15] jwinarske commented on #9
Closing, as this is not an actionable item.

[2019-03-27 13:15] #9 closed, assigned to nobody

[2019-03-27 19:38] jakesays-old commented on #4
I'm curious - how is this a unique case?

[2019-03-28 05:59] jwinarske commented on #4
Open a new case requesting support with the hardware software combo.  If there is an off the shelf device it would run on, be sure to include that.

Next priority for me will be adding framebuffer support in the next couple of weeks.

[2019-05-21 11:16] gedw99 commented on #9
SQLite runs on go-flutter and Mobile flutter today.
https://github.com/go-flutter-desktop/plugins/blob/master/list.md

i actually think using the go-flutter ( https://github.com/go-flutter-desktop  ) desktop is better. All the functionality that the main flutter desktop team expose is easy to expose in the golang version. Its just simple CGO.

Whats holding back go-flutter desktop is the flutter-d

[2019-05-21 11:29] ghost opened #10 "Plugin parity between Flutter Desktop & Mobile"
SQLite runs on go-flutter and Mobile flutter today.
More probably being added.
https://github.com/go-flutter-desktop/plugins/blob/master/list.md

Whats holding back go-flutter desktop is the flutter-desktop project actually. Flutter-desktop have not exposed all the API's you see. Like streaming Plugin channels.
All other Plugin channel types work on go-flutter desktop.

i actually think using the

[2019-05-30 21:00] drewcovi opened #11 "Can't clone shallow from sourceware.org/git/binutils-gdb.git"
Running into an issue with git 2.21.0

Any workaround recommendations?

When attempting a `git clone --depth 1` i can reproduce this same issue...

[code]

[2019-05-30 21:53] jwinarske commented on #11
You can change this line in submodule:

https://github.com/jwinarske/clang_toolchain/blob/master/CMakeLists.txt

Starting @ Line 255:
    ExternalProject_Add(binutils
        GIT_REPOSITORY git://sourceware.org/git/binutils-gdb.git
        GIT_TAG ${BINUTILS_TAG}
        GIT_SHALLOW ON <- change to OFF

[2019-05-30 22:49] drewcovi commented on #11
Is this an issue with sourceware?

[2019-05-30 23:28] jwinarske commented on #11
No idea.  It works fine on git version 2.17.1.

[2019-06-03 20:19] drewcovi commented on #11
closing for now, as I'm making more progress running on Ubuntu Bionic.

[2019-06-03 20:19] #11 closed, assigned to nobody

[2019-06-03 20:48] drewcovi opened #13 "Unable to build in Ubuntu 18.04"
Appears my version of arm-linux-gnueabihf-ld doesn't support `--color-diagnostics`

[code]

[2019-06-03 20:57] DisDis commented on #13
yes, it is very simple problem:) .
`grep -rnw './' -e '--color-diagnostics'`
you can find all files and fix it.
I built flutter(1.6 master) on ARMv7, but not run app ...debug, debug...

[2019-06-03 20:57] DisDis commented on #13
and next error fix
`sudo apt install texinfo`

[2019-06-03 21:02] drewcovi commented on #13
@DisDis aren't these ninja files generated? Ideally theres a way to fix at the source rather than the outputs...

[2019-06-03 21:05] DisDis commented on #13
@drewcovi 1 hour ago, I built on Ubuntu 18.04. The main problem is application crash. If I fix this, I fix the ninja.

[2019-06-03 21:05] DisDis commented on #13
but I can help you to built ;)

[2019-06-03 21:08] DisDis commented on #13
@drewcovi   Fix all 'not found -lGL, ....': change my nsysroot
[code]

[2019-06-03 21:12] DisDis commented on #13
i use RasP 3A+ and 2019-04-08-raspbian-stretch.img

[2019-06-03 21:15] drewcovi commented on #13
@disdis do you need that image prior to building?

[2019-06-03 21:18] DisDis commented on #13
@drewcovi yes, I have installed many dev packages. i copy all files(lib,opt,usr) from my RasPi

[2019-06-03 21:19] drewcovi commented on #13
@disdis so this is where the README.md left me confused...

At which step are we supposed to copy the files from the RasPi?

Steps I'm following below:
[code]

[2019-06-03 21:20] DisDis commented on #13
By default, the version from 2018 is downloaded.

[2019-06-03 21:21] DisDis commented on #13
i exec
`cmake .. -DTARGET_SYSROOT=/home/dis/workspace/flutter/flutter_embedded/sdk/nsysroot -DENGINE_RUNTIME_MODE=debug -DCMAKE_BUILD_TYPE=Debug -GNinja`
or
`cmake .. -DTARGET_SYSROOT=/home/dis/workspace/flutter/flutter_embedded/sdk/nsysroot  -DCMAKE_BUILD_TYPE=Release -GNinja`

[2019-06-03 21:27] drewcovi commented on #13
@DisDis so if you're okay with the 2018 image you can just run those commands, and fixing the color-diagnostics portion....

But if you want the latest you need to copy the sysroot files over first....

[2019-06-03 21:29] DisDis commented on #13
At first I tried with the image of 2018, but for some reason it did not work.

[2019-06-04 18:07] drewcovi commented on #13
@DisDis circling back today, going to run through the `autoninja` until it breaks and then remove the `--color-diagnostics` flag from the built resources... also using a custom sysroot with the latest... but had to boot it and install x11... README.md doesn't say you have to actually boot it up, but I assume that's an oversight.

[2019-06-04 21:57] DisDis commented on #13
@drewcovi I can send flutter armv7 (bin / lib). I'm very interested in running something on raspi.

[2019-06-04 23:44] DisDis commented on #13
@jwinarske How to change the engine version on fff80a0d95e92da3bca4b73b935de59337b620c9 (9 Apr 2019)?

[2019-06-05 22:11] DisDis commented on #13
@jwinarske I started flutter engine(lates version), but still have a crash.
flutter: ══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
flutter: The following NoSuchMethodError was thrown attaching to the render tree:
flutter: The method 'merge' was called on null.
flutter: Receiver: null
flutter: Tried calling: merge(null)
flutter:
flutter: When t

[2019-06-06 00:05] DisDis opened #14 "The method 'merge' was called on null."
MR: https://github.com/jwinarske/flutter_from_scratch/pull/3

[2019-06-06 19:31] DisDis commented on #14
i solved the problem.
Use: debugDefaultTargetPlatformOverride = TargetPlatform.fuchsia;

[2019-06-06 19:31] #14 closed, assigned to nobody

[2019-06-06 19:38] DisDis commented on #13
@drewcovi   Flutter armv7 (bin,lib, run.sh) https://drive.google.com/file/d/1nJZfsF7ik08-0byeKFli6bplmDvDThD-/view?usp=sharing

[2019-06-06 19:46] drewcovi commented on #13
@DisDis  you are about to have a lot more friends

[2019-06-06 19:52] DisDis commented on #13
@drewcovi very low performance, about 5-6 frames per second :(
(examples/flutter_gallery)

[2019-06-06 20:55] drewcovi commented on #13
unfortunately I'm hitting this:

`/home/pi/flutter/bin/flutter: error while loading shared libraries: libc++abi.so.1: cannot open shared object file: No such file or directory`

[2019-06-06 21:26] DisDis commented on #13
@drewcovi sudo apt-get install libc++abi1

[2019-06-06 22:06] DisDis commented on #13
@jwinarske fix env{PATH} https://github.com/jwinarske/clang_toolchain/pull/3

[2019-06-06 22:15] DisDis commented on #13
@jwinarske How apply patch to 'build/toolchain-prefix/src/toolchain-build/libunwind-prefix/src/libunwind-build/CMakeCache.txt'?
replace:
`LINKER_SUPPORTS_COLOR_DIAGNOSTICS:INTERNAL=1`
to:
`LINKER_SUPPORTS_COLOR_DIAGNOSTICS:INTERNAL=0`

[2019-06-06 22:36] drewcovi commented on #13
so close now:

[code]

[2019-06-06 22:37] DisDis commented on #13
@drewcovi https://github.com/jwinarske/flutter_embedded/issues/14#issuecomment-499635609

[2019-06-06 22:38] drewcovi commented on #13
@DisDis is that just another ENV variable? or where does that override go?

[2019-06-06 22:39] DisDis commented on #13
@drewcovi example:
flutter/examples/flutter_gallery/lib/main.dart
[code]

[2019-06-07 17:33] drewcovi commented on #13
Seems like we're making headway...
[code]

[2019-06-07 21:32] DisDis commented on #13
@drewcovi what for do you use sudo?

[2019-06-07 21:42] drewcovi commented on #13
im running on raspbian lite, so i fired up `sudo startx` but perhaps i didnt need to

[2019-06-07 22:05] drewcovi commented on #13
Based on the symlinks you have above, it seems we need a few other dependencies before building sysroot `libx11-dev libgtk-3-dev libglfw3`

[2019-06-07 22:07] DisDis commented on #13
@drewcovi pls install 'Raspbian Stretch with desktop', and use run.sh(flutter_armv7.tar.xz)

[2019-06-07 22:11] drewcovi commented on #13
for sure! thanks @DisDis. I'll take a pass later on. the instructions on this repo talk about checking out a lite version of raspbian for sysroot which is why i used lite.

[2019-06-07 22:13] DisDis commented on #13
@drewcovi everything has changed:). no performance anyway. Flutter is very slow on RasPi3.

[2019-06-07 22:16] drewcovi commented on #13
Sigh... then perhaps I'm back to WPE and web application frameworks.... I can close this for now, as it seems there's a path forward building in Ubuntu. Have a good weekend!

[2019-06-07 22:16] #13 closed, assigned to nobody

[2019-06-18 18:29] pauldemarco commented on #13
I am also seeing this:

/home/paul/flutter_embedded/sdk/toolchain/bin/arm-linux-gnueabihf-ld: use the --help option for usage information
clang-8: error: linker command failed with exit code 1 (use -v to see invocation)

Should this issue be re-opened, what is the solution?

[2019-06-18 18:39] pauldemarco opened #16 "Error building due to --color-diagnostics"
/home/paul/flutter_embedded/sdk/toolchain/bin/arm-linux-gnueabihf-ld: use the --help option for usage information
clang-8: error: linker command failed with exit code 1 (use -v to see invocation)

Possibly related to #13

[2019-06-18 20:18] DisDis commented on #16
https://github.com/jwinarske/flutter_embedded/issues/13#issuecomment-499687915

[2019-06-18 20:53] pauldemarco commented on #16
Thanks, whats the best way to get this baked in?

[2019-06-18 20:56] DisDis commented on #16
@pauldemarco
1) Change it.
2) Remove build/toolchain-prefix/src/toolchain-stamp/toolchain-build and toolchain-configure
3) autoninja

[2019-06-18 20:59] DisDis commented on #16
or change files manually.
use: grep -iRl "color-diagnostics" ./build/

[2019-06-19 19:45] pauldemarco opened #17 "AOT snapshot on arm linux"
@jwinarske
Seeing as though you are investigating performance metrics for Flutter, I was wondering if you managed to test AOT binaries on the raspberry pi, using this library?

[2019-06-19 19:46] pauldemarco commented on #16
@DisDis

Sorry, let me clarify. By "baked in" I mean so we don't have to do any additional steps outside of the build commands.

[2019-06-19 19:53] DisDis commented on #16
@pauldemarco
i wrote all steps.
1. please change 'LINKER_SUPPORTS_COLOR_DIAGNOSTICS:INTERNAL=0'
2. delete two files.
3. run autoninja

[2019-06-19 19:57] pauldemarco commented on #16
Great, I'll go ahead and see if I can bake this in with a PR.

Thanks!

[2019-06-19 19:57] #16 closed, assigned to nobody

[2019-06-19 20:02] DisDis commented on #16
@pauldemarco for PR you only need to change 'LINKER_SUPPORTS_COLOR_DIAGNOSTICS:INTERNAL=0'

[2019-06-24 05:53] jwinarske commented on #17
I have not.  I haven't been tracking check-ins, so not clear when this is slated to happen

[2019-06-26 15:39] drewcovi opened #18 "lubflutter_linux.so not created"
Following the build process without mods (except for the --color-diagnostics flag removal).

No issues besides those two hiccups. Any reason libflutter_linux.so wouldn't exist?

[code]

[code]

[2019-07-02 05:41] jwinarske commented on #18
I spun up a build before leaving work today.  The only parameter change was for Clang 8.0.0.  Aside from that the only build break I hit was related to parallel building.  What's your OS + build environment?

Aside from not seeing libflutter_linux.so, have you checked the so dependencies for your RPI executable?  Use `readelf -d "so/executable name"`

[2019-07-02 13:17] drewcovi commented on #18
Ubuntu Server 18.04.2 LTS, otherwise simply following the guide.... i can try again though...

[2019-07-02 13:18] drewcovi commented on #18
Any recommendations on ENV variables to avoid the `color-diagnostics` bug?

[2019-07-03 07:04] jwinarske commented on #18
I haven't hit that.  I open a terminal, no unique exports, run the CMake sequence for Unix makefile (default), then make.  Did you run the shell script from the repo to install dependencies?  I modified it for Bionic.

You might also consider trying to build in a Docker container.  I'll take a look at making a Docker image script in a week or so.

[2019-07-07 07:42] poky opened #19 "Touchscreen not working"
Hi, I have made it to run in CLI mode with the following outputs:
It's on Raspberry Pi 3B with Official 7" Touchscreen
I can confirm that the touchscreen works under startx, and if I run flutter under startx, the touch can work, but not under pure CLI mode, can someone advise, thanks!

[code]

[2019-07-08 21:43] jwinarske commented on #19
Everything works short of touch?

[2019-07-09 02:15] poky commented on #19
Here's what I have so far, I can get the UI to display without the desktop, but no touch screen so I can't test beyond this point.

[Youtube link](https://www.youtube.com/watch?v=3hmxaH_z7mY)

[2019-07-09 03:41] poky opened #20 "Build failed in rpi_flutter step"
Hi, I'm using the latest Raspbian Buster Lite (2019-06-20) for the build, however it stopped with the following messages:

[code]

[2019-07-09 16:53] drewcovi commented on #18
I did run the shell script, but I'm also running headless ubuntu server... so its possible my system simply doesnt support color-diagnostics

[2019-07-10 14:35] jwinarske commented on #19
I suspect the touch became broken after changes to support Linux desktop.  @disdis can you take a look at this?

[2019-07-11 22:48] DisDis commented on #19
Yes, i broken touch. I can fix it. No reason to fix it. Flutter works very slowly on RaPi3(1-3fps). Touching is  not solve speed problem.
I tried to rebuild Flutter with fix https://github.com/flutter/flutter/issues/30730 . The speed is low, the processor is 100% loaded

[2019-07-11 22:51] DisDis commented on #20
Last flutter is not build.
I have fix, i will try to PR

[2019-07-11 22:55] DisDis commented on #20
https://github.com/jwinarske/flutter_embedded/pull/21

[2019-07-12 06:13] poky commented on #20
Hi, just tried the new updated one, came with this error, could you tell me how to fix this, thanks!

[code]

[2019-07-12 09:19] DisDis commented on #20
@poky i will look at night. Currently you can try clean install.(remove all, git clone, rebuild all)

[2019-07-12 23:53] poky commented on #20
@DisDis Yes, I did, complete new git clone, cmake and autoninja
Maybe have something to do with the empty engine.patch file?

[2019-07-13 13:08] poky commented on #20
@DisDis I manually removed the engine-patch in the build.ninja to bypass the above errors, however it continued with these int errors when building libcxx

[code]

[2019-07-19 15:35] ardera commented on #19
@DisDis The slow speed definitely isn't RaPi3's fault. Got steady 60fps on my own embedder. Maybe you specified some "wrong" build flags?

[2019-07-20 02:09] poky commented on #19
@ardera Can you advise how to fix it? All I want is to see how Flutter runs under CLI with touchscreen support, thanks!

[2019-08-21 11:56] 2minwia opened #22 "having trouble building engine"
after having to deal with --color-output, tex docs and removing an empty engine.patch file from the build.ninja, i get to this compilation error

ubuntu 18.04, more or less clean install, building for a raspi

i dont really have a clue what to do, as i dont know cpp >.<

logs:
https://pastebin.com/xEh8Ud7z

[2019-09-06 02:06] #17 closed, assigned to nobody

[2019-09-06 02:09] pauldemarco opened #23 "ENGINE_REPO has no effect"
It doesn't look as though the ENGINE_REPO parameter has any effect, the latest flutter/engine is always pulled and used.

[2020-03-22 07:07] CharlesHe023 opened #24 "libunwind build failed on ubuntu"
[21/54] Performing install step for 'compiler-rt'
[0/1] cd /home/hc/render_engine/engine/flutter_embedded/build/toolchain-prefix/src/toolchain-build/compiler-rt-prefix/src/compiler-rt-build && /usr/local/bin/cmake -P cmake_install.cmake
-- Install configuration: "MinSizeRel"
-- Installing: /home/hc/render_engine/engine/flutter_embedded/sdk/toolchain/lib/clang/9.0.0/include/sanitizer/allocator_inte

[2020-03-23 02:30] jwinarske commented on #24
Issue is in clang toolchain.

To get past this, you can override the toolchain using a pre-built or local build of Clang.

[2020-03-23 02:30] #24 closed, assigned to nobody

[2020-04-27 04:46] jwinarske commented on #23
Hi @pauldemarco.  Resolved with https://github.com/jwinarske/flutter_embedded/commit/0e55ad782d6b06e06799f2a23d713a3ae875cadf

[2020-04-27 04:47] jwinarske commented on #22
Hi @jacwib .  I did some re-vamping.  https://github.com/jwinarske/flutter_embedded/commit/0e55ad782d6b06e06799f2a23d713a3ae875cadf should get you going.

[2020-04-27 04:50] jwinarske commented on #20
Hi @poky.  If you're interested in building Tip Of Tree Flutter Engine, what I have in master currently does this.  I eliminated the external Clang dependency and use the Fuchsia Clang CIPD package.

[2020-04-27 04:54] jwinarske commented on #19
@poky I started up on building a Wayland shell.  You might try building the Flutter Engine with desktop enabled.  This has the basics working and is x11 based.  Just a matter of getting the build flags right.

[2020-04-27 04:56] jwinarske commented on #18
hi @drewcovi since this is still open you might trying building with master.  I pulled out the external clang dependencies, and use the Fuchsia Clang 11.0 (CIPD).  Once I have tested on ubuntu server, I'll close this.

[2020-04-27 05:06] jwinarske commented on #10
Hi @ghost.  Yes I'm aware of go-flutter-desktop.  The key issue with Linux Flutter is a lack of useful plugins.  It's hard to make a meaningful product without having to write it all from scratch.  I'd like to see this change.

I just published a Yocto meta layers [here](https://github.com/jwinarske/meta-flutter).  It simplifies cross compiling the engine, and brings Flutter to a audience larger t

[2020-04-27 06:30] #23 closed, assigned to nobody

[2020-05-02 14:55] skinkie opened #26 "gclient.py: error: Inconsistent arguments. Use either --spec or one or 2 args"
I have checked out the latest depot_tools.
[code]
In order to prevent the Python3 warning:
[code]
[code]

[2020-05-02 15:00] skinkie commented on #26
When I perform the following step manually, and by adding quotes, it does work.

gclient config --spec **"**solutions=[{\"managed\":False,\"name\":\"src/flutter\",\"url\":\"git@github.com:flutter/engine.git\",\"custom_vars\":{\"download_android_deps\":False,\"download_windows_deps\":False,}}]**"**

[2020-05-02 15:24] skinkie opened #27 "SyntaxError: Missing parentheses in call to 'print'."
This feels like a python2 vs python3 problem.
[code]
While python2 is aliased and the variable is set.

[2020-05-02 15:25] skinkie opened #28 "subprocess.CalledProcessError: Command '['pkg-config', '--variable=prefix', 'freetype2']' returned non-zero exit status 1"
[code]

[2020-05-02 18:23] jwinarske commented on #26
Hi @skinkie.  What host are you building with?

The pattern I used with Ubuntu 18.0.4 LTS:
1. update path to include depot_tools
2. `mkdir build && cd build`
3. `cmake ..`
4. `make -j VERBOSE=1`

[2020-05-02 18:25] skinkie commented on #26
I am trynig to build on gentoo, as you see in the rest of the issues that fails big time :) But I obviously can test it on a ubuntu system. Specifically regarding the fontconfig part: is it expected to install the ARM package?

Is building the flutter-engine directly on a pi "easier"?

[2020-05-02 18:26] jwinarske commented on #28
`sudo apt-get install libfreetype6-dev`

[2020-05-02 18:36] jwinarske commented on #26
The stuff you're hitting look straight forward.  What version of Python?  If three, you might want to add 2.7 so it shows up earlier in your path.  Otherwise the other way around.

I'm not sure the Clang package is setup for building Native = ARM, so it may be a host-only exercise.

Be sure your PKG_CONFIG_PATH enviromental variable is pointing to the sysroot pkgconfig folder which has the fontcon

[2020-05-02 18:41] skinkie commented on #26
python2 and python3 are installed, using eselect I have selected 2.7. This still didn't work for me.

[2020-05-02 18:53] skinkie commented on #28
I am not using ubuntu. But the pkgconfig file exists and can be found using the command;
[code]
So I do not understand why the error states that the returncode is non-zero.

[2020-05-02 21:02] skinkie commented on #27
Exactly the same issue on Ubuntu. Changing /usr/bin/python exclitly to /usr/bin/python2 brings me back to the pkg-config error...

[2020-05-02 21:05] skinkie commented on #28
This is the ubuntu output:

[code]

Am I missing something where I asumed this cmake project was going to create a sysroot for Rpi? "I dynamically create the target sysroot from this rootfs archive:"

[2020-05-02 21:20] jwinarske commented on #26
I would try to a host build of the Flutter engine without CMake to sort out your environment.  Once you have that working, then try with CMake.

[2020-05-02 21:22] jwinarske commented on #27
pkg config is related to not having a valid PKG_CONFIG_PATH, mostly null.  Build will fail as it cannot find the dependency.  If you disable the enable fontconfig flag, it will ignore the package and carry on.

[2020-05-02 21:24] jwinarske commented on #28
Your setup is different than the default.  You need this:
`export PKG_CONFIG_PATH=/usr/lib64/pkgconfig`

[2020-05-02 21:28] skinkie commented on #28
@jwinarske the output above is a regular xubuntu image. But happy to try it with that variable.

[2020-05-02 21:47] skinkie commented on #28
With the export I still see:
[code]

[2020-05-02 22:24] jwinarske commented on #28
I say step one is build an Engine for host, without CMake.  This will be the minimum problem set best suited to flush out the environment.

[2020-05-02 22:27] skinkie commented on #28
@jwinarske and here you mean just a step by step https://github.com/flutter/flutter/wiki/Compiling-the-engine#compiling-for-macos-or-linux ?

[2020-05-02 23:05] skinkie commented on #28
I can confirm (on gentoo) that building with python2 ./flutter/tools/gn --runtime-mode  release  --target-os linux   --linux-cpu x64 --lto --clang    --enable-fontconfig  --enable-skshaper   --embedder-for-target --stripped gave me output, now going to see if it gives me something on screen ;)

[2020-05-03 03:47] #10 closed, assigned to nobody

[2020-05-03 03:48] jwinarske commented on #18
Tested.  Closing.

[2020-05-03 03:48] #18 closed, assigned to nobody

[2020-05-03 03:49] #19 closed, assigned to nobody

[2020-05-03 03:49] #20 closed, assigned to nobody

[2020-05-03 03:50] #22 closed, assigned to nobody

[2020-05-03 03:50] #26 closed, assigned to nobody

[2020-05-03 03:50] #27 closed, assigned to nobody

[2020-05-04 21:03] ranciere opened #29 "Linker error"
[linker_error.txt](https://github.com/jwinarske/flutter_embedded/files/4577463/linker_error.txt)
I've just checked out the repo and build with defaults (cmake.. & make). The linker error is attached.

[2020-05-05 01:59] jwinarske commented on #29
Interesting.  Did the patches take?

Maybe a log of the configure and complete build?

[2020-05-05 05:19] ranciere commented on #29
It seems it is an user error: I've rerun it from scratch, and now there is no error. I close the ticket!

[2020-05-05 05:19] #29 closed, assigned to nobody

[2020-05-11 10:26] ranciere opened #30 "Missing flutter_linux library"
I've compiled it via the _cmake .. -DBUILD_FLUTTER_RPI=On_ then I've got the following error:
`ranciere@ranciere:~/work/flutter_embedded/build$ make
[ 16%] Built target engine
[ 18%] Performing build step for 'rpi_flutter'
[ 12%] Linking CXX executable flutter
/usr/lib/gcc-cross/arm-linux-gnueabihf/9/../../../../arm-linux-gnueabihf/bin/ld: cannot find -lflutter_linux
collect2: error: ld returned 1

[2020-05-11 15:36] jwinarske commented on #30
@ranciere I'll take a look.  What type of shell are you looking for?  Just anything that runs on RPI3?

[2020-05-11 18:45] ranciere commented on #30
Just anything that runs on _RPI4_ :) First I would like to run something on my PI in interpreter mode, but later it would bo be good to run an AOT application, debug, hot reload etc.

[2020-05-11 20:20] jwinarske commented on #30
Okay.  Give me a few days too take a look.  Are you looking for full screen custom, or just standard flutter desktop support?

[2020-05-12 04:31] jwinarske commented on #30
Master now by default cross-compiles flutter_glfw for rpi:  `cmake .. -DBUILD_FLUTTER_RPI=ON`

[2020-05-12 17:50] jwinarske opened #31 "flutter_glfw rpath"
flutter_glfw needs an install step to properly set the rpath.  Needs an upstream patch.

[2020-05-12 20:53] ranciere commented on #30
I've tried with the newest version. Running just 'cmake ..' results:
[code]
Now I'm trying without BUILD_FLUTTER_RPI but with defined sysroot (-DTARGET_SYSROOT)

[2020-05-12 21:00] ranciere commented on #30
With my own sysroot: the compiling of flutter engine runs without error, but the copying is unsuccesfull:
[code]
It's a naming error, the name of the lib is libflutter_**linux_gtk**.so, not libflutter_engine.so
Also missing the flutter_embedder.h
If I manually rename the so and add a ```flutter_embedder.h``` then the build will be successfull. I'm trying now the BUILD_FLUTTER_RPI flag

[2020-05-12 21:24] ranciere commented on #30
With ```cmake .. -DBUILD_FLUTTER_RPI=ON -DTARGET_SYSROOT=/home/ranciere/work/sysroot```, I will get:
[code]

[2020-05-12 23:32] jwinarske commented on #30
When did you do a git pull last?   You may have to manually remove the
patches.  That's on my to-do list.

On Tue, May 12, 2020, 2:24 PM ranciere <notifications@github.com> wrote:

[2020-05-13 01:06] jwinarske commented on #30
When did you do a git pull last? You may have to manually remove the
patches. That's on my to-do list.

Also you will want to clear some CMake variables that may have been set in the CMake cache file.

`git pull`

flutter_glfw example:
`cmake .. -DBUILD_FLUTTER_RPI=ON -UTARGET_SYSROOT -UENGINE_EMBEDDER_FOR_TARGET -UENGINE_DISABLE_DESKTOP`

gtk3+ desktop shell (ignore install fail for now):
`cmake

[2020-05-13 06:39] jwinarske commented on #30
I worked through the gtk+-3.0 for host, default rpi config, and updated the readme.

When you specify a different TARGET_SYSROOT, you may need to override PKG_CONFIG_PATH when calling CMake.  Do this with `-DPKG_CONFIG_PATH=/mypath/to/pkgcfg:/myother/path/pkgcfg`

[2020-05-13 08:24] ranciere commented on #30
I tried in both way (```cmake .. -DBUILD_FLUTTER_RPI=ON``` and ```cmake .. -DTARGET_SYSROOT=/home/ranciere/work/sysroot -DENGINE_DISABLE_DESKTOP=OFF -DENGINE_EMBEDDER_FOR_TARGET=OFF```) in two newly cloned repository (ee6ece9) and I got this new error in both case:
[code]

[2020-05-13 10:35] ranciere commented on #30
I've tried without parameters (```cmake .. -GNinja```) and the linker error exists.

[2020-05-13 13:58] jwinarske commented on #30
What's the output of your cmake invocation?

[2020-05-13 14:30] ranciere commented on #30
The output:
[code]

[2020-05-13 16:18] jwinarske commented on #30
Confirm that the values assigned to "custom_lib_flags" match your sysroot.  Override with ENGINE_CUSTOM_LIB_FLAGS.

[2020-05-14 05:52] jwinarske commented on #30
That linker error indicates the patch didn't apply.  As the patch explicitly adds "-Wl,-z,notext".  The patch step only runs once per download.  So chances are something was interrupted on the build.  You can force the patch step to run again by either editing the CMake file; as a space somewhere, or deleting one of the files under engine-prefix.

[2020-05-14 05:53] jwinarske commented on #31
Re-write flutter_glfw CMake and patch tree

[2020-05-15 05:57] jwinarske commented on #30
Okay.  I hit the same problem, and I think I have a fix.  It's in the build patch. Although it's odd as I've gotten past this with the old patch, so I'm not convinced it's totally resolved.

Three options after pulling:
`rm .../build/engine-prefix/src/engine-stamp/engine-done`
`rm .../build/engine-prefix/src/engine-stamp/engine-patch`
make

this forces patch to happen again

- or -
blow away build

[2020-05-15 08:56] ranciere commented on #30
Hi,
Unfortunately no progress, the bug still exists wit a fresh checkout (rm -fr ./flutter_embeded) than I followed the instructions (git clone; export PKG_CONFIG_PATH; cmake ..; make). The cmake config:
[code]
The PKG_CONFIG_PATH is correct, the pc files are presented there. How can I check a build patches? Could you tell me a relative path to a makefile and build flags to look at?

[2020-05-16 23:44] jwinarske commented on #30
You should be good to go now.  I've added Channel support, and have checked all the channels for armv7.  Once you confirm you're good I'm going to mark a release.

[2020-05-16 23:59] #31 closed, assigned to jwinarske

[2020-05-17 06:16] jwinarske commented on #28
Is this still outstanding?

[2020-05-17 15:02] ranciere commented on #30
Hi @jwinarske,
Interesting sequel, I have another bug during compilation of the engine (new checkout):
[code]
But if I rerun the make -j then the compilation will be successful :o

[2020-05-17 16:53] ranciere commented on #30
I've installed the executable to /usr/bin/flutter_glfw and the dynamic library to /usr/lib/arm-linux-gnueabihf/libflutter_engine.so; but the executable cannot load the flutter lib:
`flutter_glfw: error while loading shared libraries: libflutter_engine.so: cannot open shared object file: No such file or directory
`
If I run it via strace, then the executable will be able to open the lib:
[code]
I t

[2020-05-17 16:59] jwinarske commented on #30
what's the output of this: readelf -d libflutter_engine.so
This will show the rpath, if you don't install per the rpath you need to export LD_LIBRARY_PATH= so the executable can find the library.  Also the icu dat file is required in the same directory as the engine so.

[2020-05-17 17:00] jwinarske commented on #30
also the icu dat file is required in the same directory as the engine so

[2020-05-17 17:08] ranciere commented on #30
Readelf output:
[code]
I've put the icudtl.dat to the /usr/lib/arm-linux-gnueabihf directory, but results is the same.

[2020-05-17 17:09] jwinarske commented on #30
now run readelf -d on the executable.  -d lists the dependencies...

[2020-05-17 17:14] ranciere commented on #30
Here is:

[code]

[2020-05-17 17:15] ranciere commented on #30
And output of `ldd flutter_glfw` is:
[code]

[2020-05-17 17:35] jwinarske commented on #30
This is what I see:

[code]

Running the executable it attempts to resolve libraries based on the relative path.  If your target doesn't have this path it will fail to find the dependencies.

To get it to run you need to do this:
LD_LIBRARY_PATH=/usr/lib/arm-linux-gnueabihf flutter_glfw

The flutter example CMake did not have an install step.  Without this it creates the bogus rpath, which is what

[2020-05-17 17:43] jwinarske commented on #30
The flutter example CMake did not have an install step.  Without this it creates the bogus rpath, which is what you're looking at.  I fixed it last night.  Make sure you have that fix `git pull`

From master
[code]

[2020-05-17 18:23] jwinarske opened #32 "Install package"
Create install package with pkgconfig file.  Layout should match [meta-yocto install](https://github.com/jwinarske/meta-flutter/blob/zeus/recipes-graphics/flutter-engine/flutter-engine_git.bb#L146)

[2020-05-18 04:59] jwinarske commented on #32
Prelim support in 5e1f9c51b9a83f1fb7ac04a5b1a821c5adb0e7fb

I haven't had time to test it yet.

[2020-05-18 08:37] ranciere commented on #30
At first I thought that LD_LIBRARY_PATH was the problem, but I started investigating the error.
Here is a the strace output of loading of libflutter_engine.so without the library:
[code]
As you see the system tries to load the library form various directories, but it cannot succeed (library is not presented). If I copy the so to the `/usr/lib/arm-linux-gnueabihf` then the output will be the follow

[2020-05-18 16:06] jwinarske commented on #30
Is there an rpath on your library?  If so, this is from an outdated build.

I just tested package installing, after both packages installed, using strace I see it load the library, but fails for another reason.  More fun later :)

[2020-05-18 18:09] jwinarske opened #33 "Build fails at libdart_jit.a.rsp"
[code]

Restarting build completes.

Need to look into ${TARGET_TRIPLE}-ar instances.  Adding sync doesn't impact it.

Switching channels doesn't hit this.  Seems first time after first config.

[2020-05-19 04:14] jwinarske commented on #30
Let's open a different issue to match what we're looking at.  I think the build finds the missing library now.  Do you agree?

[2020-05-19 04:28] jwinarske opened #34 "rpath"
This is for tracking rpath related items

[2020-05-19 05:54] jwinarske commented on #34
the rpath for executables is set to:

$ORIGIN/usr/lib/arm-linux-gnueabihf/

[2020-05-19 05:55] jwinarske commented on #32
done

[2020-05-19 05:55] #32 closed, assigned to jwinarske

[2020-05-19 05:57] jwinarske commented on #28
Closing since this has been resolved

[2020-05-19 05:57] #28 closed, assigned to nobody

[2020-05-19 05:58] jwinarske commented on #30
closing since we are no longer `missing flutter_linux library`.

[2020-05-19 05:58] #30 closed, assigned to jwinarske

[2020-05-19 06:41] ranciere commented on #30
Yes, I agree! I will open a new issue today!

[2020-05-23 16:51] ranciere opened #35 "flutter_glfw cannot link"
config is default(`cmake ..`). Error message:
[code]

[2020-05-24 16:23] jwinarske commented on #35
I'll take a look this coming week, out on hoiidays

[2020-05-27 06:40] ranciere commented on #35
Additional information:
If I add the pthread dependency to flutter_glfw (`thirdparty/engine/src/flutter/examples/glfw/CMakeLists.txt`) then the CMake configure step will fail. The CMakeError.log:
[code]

[2020-05-28 05:21] jwinarske commented on #35
Without changing anything, what do you get when you do this?

    make symlink_fixups
    make

[2020-05-28 06:25] jwinarske commented on #33
resolved with 4b02a5498712d729aede2d1e5b27483266944d66

[2020-05-28 06:25] #33 closed, assigned to jwinarske

[2020-05-28 06:33] #34 closed, assigned to nobody

[2020-05-28 06:35] jwinarske commented on #35
This should be resolved in master.  Two fixes:
1. make engine depend on symlink_fixups target instead of sysroot.  This was causing jit build break.
2. Add -lpthread link flag for flutter_glfw

[2020-05-28 12:41] ranciere commented on #35
Great! I've checked, it is working. I close the ticket.

[2020-05-28 12:41] #35 closed, assigned to jwinarske

[2020-05-29 13:25] ranciere opened #36 "libflutter so cannot be loaded"
The library loading problem is still an issue. Output of running flutter_glfw:
`/flutter_glfw: error while loading shared libraries: libflutter_engine.so: cannot open shared object file: No such file or directory`
The libflutter_engine.so is in `usr/lib/arm-linux-gnueabihf/libflutter_engine.so`. The executable tries to load it, but it is unsuccessful.

[2020-05-29 14:11] jwinarske commented on #36
I'll take a look this weekend

[2020-06-08 11:01] ranciere commented on #36
Hi @jwinarske Is there any progress on the issue?

[2020-06-10 06:02] jwinarske commented on #36
@ranciere not yet.  Just finished setting up my new build machine.  Soon

[2020-06-10 08:09] ranciere commented on #36
I've also bought a new machine (Ryzen 9 3900X) because of the compilation time :D

[2020-06-10 15:01] jwinarske commented on #36
My 3960X officially went into service yesterday :D

[2020-06-20 13:14] ranciere commented on #36
Hi @jwinarske Could you deal with it?

[2020-06-20 17:39] jwinarske opened #37 "Support Vulkan rpi-vk-driver"
https://github.com/Yours3lf/rpi-vk-driver

[2020-06-20 21:00] jwinarske commented on #37
Driver Stack is building in the vulkan branch.  It requires commenting out the non-android vulkan error in gn.py in the engine repo.  TBD on further engine patches.

[2020-06-20 21:02] jwinarske commented on #36
I'll take a look later today as part of my vulkan driver integration tests.

[2020-07-01 20:58] jwinarske commented on #36
[code]

It should look something like this
[code]

[2020-07-01 22:11] jwinarske commented on #36
What do you get from `strace ldd -v /usr/lib/arm-linux-gnueabihf/libflutter_engine.so`?

[2020-07-10 15:39] ranciere commented on #36
Hi @jwinarske ,
ldd output:
[code]
The output of the stracing:
[code]

[2020-07-10 16:55] ranciere opened #38 "FAILED: obj/third_party/libjpeg-turbo/libsimd.a"
`/bin/sh: 1: /home/ranciere/work/rpiflutter/flutter_embedded/third_party/engine/src/buildtools/linux-x64/clang/bin/armv7-neon-vfpv4-linux-gnueabihf-ar: not found`

(Standard `cmake ..` build)

[2020-07-14 06:06] jwinarske commented on #36
It looks like it fails to load locale resources, then fails.  Which is why I tagged this "locale".

[code]

[2020-07-14 06:09] jwinarske commented on #38
This happens when you get too fancy with your triple.  I have a development branch with this sorted out.

[2020-07-16 14:01] ranciere commented on #38
hi,

Okay, do you want to merge it the develop?

[2020-07-26 00:07] DisDis opened #39 "Ubuntu 20.04: "Performing download step for 'engine'" - error"
Because engine.cmake contains
[code]
**PATH** is converted to '**"PATH**'
And we receive incorrect result:

It work when i change engine.cmake:
[code]

[2020-07-26 04:11] jwinarske commented on #39
Did you try using quotes like this?

 `PATH="${THIRD_PARTY_DIR}/depot_tools":"$ENV{PATH}"`

[2020-07-26 23:58] DisDis commented on #36
i have same problem.
ldd -v -r ./libflutter_engine.so

readelf -d ./libflutter_engine.so | grep 'NEEDED'

If i take https://github.com/ardera/flutter-pi/blob/engine-binaries/libflutter_engine.so and run readelf -d ./libflutter_engine.so | grep 'NEEDED'

and
[code]

[2020-07-27 00:05] DisDis commented on #36
cmake .. -DCHANNEL=stable -DENGINE_RUNTIME_MODE=release
[code]

[2020-07-27 00:17] DisDis commented on #39
@jwinarske
it is not work.
[code]

[2020-07-27 00:24] DisDis commented on #36
@jwinarske i think it is not locale problem.
because
If i take https://github.com/ardera/flutter-pi/blob/engine-binaries/libflutter_engine.so

[code]

[2020-07-27 00:51] DisDis commented on #36
Maybe this is our problem?
https://stackoverflow.com/questions/6150000/cross-compiler-ldd

[2020-07-27 10:27] jwinarske commented on #39
echo $SHELL

[2020-07-27 11:03] DisDis commented on #39
echo $SHELL
`/bin/bash`
uname -a
`Linux dark-star 5.4.0-42-generic #46-Ubuntu SMP Fri Jul 10 00:24:02 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`
Ubuntu 20.04 64Bit

@jwinarske

[2020-07-27 11:27] jwinarske commented on #39
`git pull` on master.  You should be good to go.

[2020-07-27 11:29] jwinarske commented on #38
`git pull`

I just tested with an empty build folder and it worked.

[2020-07-27 12:49] DisDis commented on #39
@jwinarske i get other issue

[code]

This used to work.

[2020-07-27 14:30] DisDis commented on #39
I think problem in https://github.com/jwinarske/flutter_embedded/pull/40/files#diff-d46a582fdb58ddf927221d15d6149647L53

`export PATH=${THIRD_PARTY_DIR}/depot_tools:$ENV{PATH} &&`

[2020-07-27 21:04] DisDis opened #41 "Step 'flutter-pi' doesn't work"
cmake .. -DCHANNEL=stable -DENGINE_RUNTIME_MODE=debug -DBUILD_FLUTTER_PI=ON -DBUILD_GLFW_FLUTTER=OFF

[code]

Output:
[code]

I tried to change flutter-pi.cmake
[code]
But it didn't change 'make' output.
How do I change the 'flutter-pi' step?

[2020-07-27 22:07] DisDis commented on #36
I solved problem. @jwinarske @ranciere
If you change Flutter Channel to 'beta', it works
-- Flutter Channel ........ beta
-- Engine SHA1 ............ 60b269d898cbe0be27e9b9ba9d21eae97b887ab6
flutter-engine-beta $ ldd ./libflutter_engine.so
[code]

[2020-07-28 14:55] jwinarske commented on #36
@DisDis that's called a workaround, not a solution ;)

[2020-07-28 14:57] DisDis commented on #36
@jwinarske but new flutter will release after ~1 month, and beta will be stable:)

[2020-07-28 14:57] jwinarske commented on #39
@DisDis those are not related.  See https://github.com/jwinarske/flutter_embedded/issues/38

[2020-07-28 14:57] #39 closed, assigned to nobody

[2020-07-28 14:58] DisDis commented on #36
Yes, problem in clang 8.0, but how can we solve it?

[2020-07-28 15:06] jwinarske commented on #41
@DisDis it won't build as you specify as there are dependent libs needed for flutter-pi that are not in the default Raspbian rootfs.
stable channel is default, as is debug for engine runtime.  It should look something like this:

`cmake .. -GNinja -DBUILD_FLUTTER_PI=ON -DTARGET_SYSROOT=/path/to/you/fixed/up/symlink/rootfs/with/required/packages -DBUILD_PLATFORM_SYSROOT=OFF`

Also was this on a cle

[2020-07-28 15:09] DisDis commented on #39
but MR contain mistacke, because you miss

, after i changed code ( add ```export PATH=${THIRD_PARTY_DIR}/depot_tools:$ENV{PATH} && ```), the engine is compiled.
@jwinarske

[2020-07-28 15:18] DisDis commented on #41
I don't remembe, but i think it was around -DCHANNEL=stable -DENGINE_RUNTIME_MODE=debug -DBUILD_FLUTTER_PI=ON -DBUILD_GLFW_FLUTTER=OFF

How do i clean build? (cmake clean??, make clean???)

[2020-07-28 15:49] jwinarske commented on #39
See the changes branch.  After a few more tests it will merge into master.

[2020-07-28 15:50] jwinarske commented on #41
cd build
rm -rf *

It doesn't blow away the engine repo, and that will sync automatically.

[2020-07-28 17:46] jwinarske commented on #41
https://github.com/jwinarske/flutter_embedded/pull/42

[2020-07-28 17:46] #41 closed, assigned to nobody

[2020-07-28 17:46] jwinarske commented on #38
https://github.com/jwinarske/flutter_embedded/pull/42

[2020-07-28 17:46] #38 closed, assigned to nobody

[2020-07-28 17:47] jwinarske commented on #36
beta has clang 11, prior has clang 8.
Workaround for now:  https://github.com/jwinarske/flutter_embedded/pull/42

[2020-07-30 00:14] DisDis commented on #36
I found main issue.
flutter-engine-release $ strace /lib/ld-linux-armhf.so.3 --verify ./libflutter_engine.so
**NOT WORK**
[code]

flutter-engine-beta-release $ strace /lib/ld-linux-armhf.so.3 --verify ./libflutter_engine.so
**WORK**
[code]

Investigation:

9103084 = 0x8ae6ec is section header.

[code]

**WORK Shared object**
LC_ALL=C readelf -S ./libbeta.so
[code]

difference in one section

Okk,

[2020-07-30 01:54] jwinarske commented on #36
I like your perseverance :1st_place_medal:

What's different between the two toolchains are the pre-built libs.  The so link command is identical between the two.

I'm considering adding building Clang built-ins, and compiler-rt before the engine is linked.  This would minimize toolchain pre-built and target dependency to just crt1/crti/crtn.  I believe this will resolve the problem, as well as pr

[2020-07-30 06:58] DisDis commented on #36
It is very cool.  this also unlocks AOT for emb flutter, because snapshot_gen creates a "bad" libapp.so.

[2020-07-30 07:19] jwinarske commented on #36
Not sure what channel is not working, but I have AOT working in my Wayland flutter project.  I have steps documented to generate an AOT here:
https://github.com/jwinarske/meta-flutter/issues/7

[2020-07-30 08:14] DisDis commented on #36
Hmm, i used gen_snapshot from channel=dev and it generated "bad" shared object. Ok i look at Wayland project.

[2020-08-02 13:51] jwinarske commented on #36
@DisDis IIRC one of the host side tools does not build correctly.  I pulled the "bad" host-side tool from a manual x86_64 engine build.

[2020-10-16 20:15] mateusz-grzegorzek opened #43 "Errors when building engine on RPi 4"
Hello,
First of all, thanks a lot for your job!

I was trying to build engine on my RPi 4 using:
[code]
and also:
[code]
but both `make` commands failed with errors:
[code]

What did I do wrong or what am I missing?
Thanks in advance!

[2021-04-11 15:17] #37 closed, assigned to jwinarske

[2021-09-11 18:01] jwinarske commented on #36
Closing this out due to inactivity

[2021-09-11 18:01] #36 closed, assigned to nobody

[2021-09-11 18:01] jwinarske commented on #43
Please use the ci branch.  I'm in the process of making this main.  Also I would never suggest building engine on an RPI4.  It's not supported.  Only use case here is cross compilation model.

[2021-09-11 18:05] #43 closed, assigned to nobody

[2022-06-16 15:27] jwinarske opened #46 "x86_64 3.x segfault"
Segfault is happening in 3.x x86_64 builds on Ubuntu 20.04. aarch64 builds do not exhibit this problem. Ubuntu22 via WSL does not segfault.

Build flags:
`--unoptimized --runtime-mode debug --no-goma --lto --clang --embedder-for-target --full-dart-sdk --target-os linux --linux-cpu x64 --target-triple x86_64-linux-gnu`

Repro happens with or without `--unoptimized`.

Seg fault happens with: https:/